Package: {PCK_NAME}
Name: WaitForLift
Version: {VERSION}
Section: misc
Architecture: all
Author: Valentin Rudloff
Maintainer: Valentin Rudloff <valentin.rudloff.perso@gmail.com>
Priority: standard
Depends: mpv
Description: WaitForLift
  Play some lift music when the script is running
